@import-normalize;

:root {
  --primary-color: #1DB954;
  --background-color: #191414;
  --background-color-dark: black;
  --text-color: #B3B3B3;
  --text-accent-color: white;
}


html {
  box-sizing: border-box;
  font-size: 14px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
